.btn {
  position: absolute;
  left: 45%;
  top: 45%;
  padding: 1em;
  color: white;
  background-color: #4cac20;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  margin: 2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #4299e1;
  transform: translate(0, -2px);
}

.earth {
  width: 400%;
}
.ai {
  font-size: 70px;
  text-align: center;
  gap: 1em;
  color: #4cac20;
}